
 <!-- Page Wrapper -->
 <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
           <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">User</h1>
                  
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Liste des Utilisateurs      </h6>
                                <h6 class="m-0 font-weight-bold text-primary"><a href="admin/adduser"><input type="submit"  class="form-control" value ="Ajouter"></a></h6>
                                <a class="toggle"  role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus-circle fa-2x" data-toggle="modal" data-target="#exampleModalCenter"></i>
                                    </a>
                          
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                       
                                      <mat-form-field>
                                        <mat-label>Filtrer</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" placeholder="recherche.." #input>
                                      </mat-form-field>
                                      <div class="example-container mat-elevation-z8">
                                      <table mat-table [dataSource]="dataSource" matSort>
                                        <ng-container matColumnDef="id">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                                          <td mat-cell *matCellDef="let row"> {{row.id}} &nbsp;&nbsp;&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="username">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
                                          <td mat-cell *matCellDef="let row"> {{row.username}} &nbsp;&nbsp;&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="email">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                                          <td mat-cell *matCellDef="let row"> {{row.email}} &nbsp;&nbsp; &nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="type">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> type </th>
                                          <td mat-cell *matCellDef="let row"> {{row.type}} &nbsp;&nbsp;&nbsp; </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Actions">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                          <td mat-cell *matCellDef="let row" >
                                            
                                            <i style="color:blue;" class="fa fa-edit fa-2x" data-toggle="modal" data-target="#modifModalCenter" (click)="changepass(row.email)"><input type="submit" class="form-control" value ="Changer"></i>
                                              &nbsp;
                                              <i style="color:rgb(255, 0, 0);" class="fa fa-times-circle fa-2x" data-toggle="modal" data-target="#exampleModal"(click)="supprimeticketbyid(row.id)"><input type="submit" class="form-control" value ="supprimer"></i> 
                                           </td>
                                        </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                          <td class="mat-cell" colspan="4">
                                            Aucune donnée correspondant au  ""</td>
                                        </tr>
                                      </table>
                                    </div>
                                      <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Modal ADD article-->


    <!-- Modal edit fournisseur-->

  
  
  <!-- Modal delete fournisseur -->
 

</div>
<!-- End of Page Wrapper -->




